{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/cyprien/Perso/PhpCours/2PHPD/src/Controller/ProfileController.php'|file_link(0) }}">src/Controller/ProfileController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/cyprien/Perso/PhpCours/2PHPD/templates/profile/index.html.twig'|file_link(0) }}">templates/profile/index.html.twig</a></code></li>
    </ul>
    <div id="donate-button-container">
    <div id="donate-button" style="left: 30vw;"></div>

    <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
    <script>
    PayPal.Donation.Button({
    env:'production',
    hosted_button_id:'Y7KL3K37ETC36',
    image: {
    src:'https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_LG.gif',
    alt:'Bouton Faites un don avec PayPal',
    title:'PayPal - The safer, easier way to pay online!',
    }
    }).render('#donate-button');
    </script>
    </div>

    {% block form %}
        
    {% endblock %}
</div>
{% endblock %}
