{% extends 'base.html.twig' %}

{% block body %}
<div id="app">
    <v-app v-cloak>
        <v-app-bar short app >Symfony + Vuetify</v-app-bar>
        <v-main>
         <VueJsonPretty path="'res'" :data="{ key: 'value' }" @click="handleClick"/>
          [[caca]]
        </v-main>
    </v-app>
</div>


{% endblock %}
