{% extends 'base.html.twig' %}

{% block title %}JeansStore
{% endblock %}


{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}

		h1 {
			color: black;
			font-weight: bold;
			text-align: center;
			margin-top: 10px;
		}

		#content {
			display: flex;
			flex-wrap: wrap;
		}

		.category {
			background: none;
			border: none;
			height: 50%;
			width: 25%;
			padding: 0;
			margin: 4%;
		}

		#jeans-buttons {
			color: white;
			background: black;
			margin-top: 3vh;
			height: 6vh;
			width: auto;
			margin-right: 2vh;
			text-decoration: none;
		}

		.category img {
			height: 100%;
			width: 100%;
		}

		.category p {
			margin-top: 3%;
			font-weight: bold;
		}
		.category:hover {
			transform: scale(1.05);
			margin-top: 2vh;
		}
	</style>

	<div class="example-wrapper">

		<h1>Top Catégories</h1>

		<div id="content">
			<button class="category">
				<a href="/search/categories/Jeans"><img src="images/jeans.jpg" alt="Jean category"></a>
				<p>Jeans</p>
			</button>
			<button class="category">
				<a href="/search/categories/Chaussures"><img src="images/chaussures.jpg" alt="sneakers category"></a>
				<p>Chaussures</p>
			</button>
			<button class="category">
				<button class="category" onclick='openJeansTab()'>
					<a href="/search/categories/T-shirts"><img src="images/t-shirts.jpg" alt="t-shirts category"></a>
					<p>T-shirts</p>
				</button>
			</div>


		{% endblock %}
